:root {
  --main-color: rgb(151, 151, 231);
}



* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "poppins", sans-serif;
}

.header {
    color: whitesmoke;
    display: flex;
    justify-content: space-around;
    align-content: center;
    padding: 20px 0;
    background: blue;
}

.header-title {
    text-align: center;
}

.menubars {
    display: none;
}

.main {
    background: url('/image/teamwork.jpg');
    width: 100%;
    height: auto;
    background-position: center;
    background-size: cover;background-repeat: no-repeat;

}

.title {
    color:rgb(224, 226, 234);
    /* color:rgb(215, 105, 9); */
    text-shadow: 4px 4px 12px  rgb(24, 26, 146);
    font-size: 4rem;
    padding-top: 40px;
    line-height: 1;
}


/*  */
.add-copy {
    background: rgba(4, 13, 35, 0.5);
    padding: 20px ;
}
.subhead {
    color: whitesmoke;
    padding-bottom: 20px;
}

.add-copy {
    color: whitesmoke;
    padding: 20px ;
}

.button{
    display: inline-block;
    border: none;
    cursor: pointer;
    padding: 10px 35px;
    transition: all 0.3s ease;
}
.button:hover{
    transform: scale(1.1);
    background: blue;
    color: white;

}

.arrow {
    margin: -4px 5px;

}
.section1 {
 
    margin: auto;
    max-width: 700px;
    height: 100vh;
    padding-top: 70px;
}

.footer {
  display: flex;
  justify-content: space-around;
  align-content: center;
    color: whitesmoke;
    background: blue;
    opacity: 0.8;
    padding: 20px 0;
}

.icon-containers  {
    display: flex;
    align-content: center;
    justify-content: center;
    
}

.facebook {
    margin: 0 10px;
}
.twitter-x {
    margin: 0 10px;
}
.facebook {
    margin: 0 10px;
}

@media screen and (max-width:800px){

   

    .main {
        /* font-size: 3.3rem; */
        text-align: center;
    }

.right-content .text {
display: none;
}

.footer {
text-align: center;
display: block;
padding: 10px;

}
}